{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
        <li><a href="https://www.researchgate.net/profile/Jie_Mao2"><i class="fab fa-fw fa-researchgate" aria-hidden="true"></i> ResearchGate</a></li>
        <li><a href="https://github.com/jie-mao"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
        <li><a href="http://orcid.org/0000-0002-0892-1184"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
        <li><a href="https://ssrn.com/author=5955245"><i class="ai ai-ssrn-square ai-fw"></i> SSRN</a></li>
        <li><a href="https://au.cnki.net/author/personalInfo/000058411840"><i class="fas fa-fw fa-external-link-alt"></i> CNKI</a></li>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. All Rights Reserved.</div>
